# Зависимости
node_modules/

# Папки сборки и сгенерированные файлы
dist/
build/

# Файлы покрытия тестами
coverage/

# Логи и временные файлы
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Временные файлы системы
.DS_Store
Thumbs.db

# Временные папки
tmp/
temp/

# Конфигурация IDE, редакторов
.vscode/
.idea/

# Файлы конфигураций, которые генерируются автоматически (если такие есть)
*.cache/
